<a href="https://colab.research.google.com/github/RUDHRAMURTHI/My-codes/blob/master/MachineHack_UnitPrice_ML.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
import os

In [ ]:
os.getcwd()

'/content'

In [ ]:
os.listdir()

['.config', 'train_cleaned.csv', 'test_cleaned.csv', 'sample_data']

In [ ]:
data_train = pd.read_csv('train_cleaned.csv')

In [ ]:
data_test = pd.read_csv('test_cleaned.csv')

In [ ]:
data_train.head()

   InvoiceNo  StockCode  ...  InvoiceDate_week  InvoiceDate_weekday
0       6141       1583  ...                18                    4
1       6349       1300  ...                19                    2
2      16783       2178  ...                46                    6
3      16971       2115  ...                47                    1
4       6080       1210  ...                18                    4

[5 rows x 12 columns]

In [ ]:
data_test.head()

   InvoiceNo  StockCode  ...  InvoiceDate_week  InvoiceDate_weekday
0       3139       1709  ...                 8                    1
1        617        510  ...                49                    2
2      14653        604  ...                43                    1
3       8634       1478  ...                26                    0
4      15546       3216  ...                44                    6

[5 rows x 11 columns]

### Preparing Training and Test set

In [ ]:
X = data_train.drop(["UnitPrice"],axis=1)

In [ ]:
X = pd.get_dummies(X)

In [ ]:
y = data_train["UnitPrice"]

In [ ]:
X_sub = data_test

In [ ]:
X_sub = pd.get_dummies(X_sub)

In [ ]:
X.shape

(284773, 11)

In [ ]:
X_sub.shape

(122049, 11)

In [ ]:
y.shape

(284773,)

### Scaling the data

In [ ]:
from sklearn.preprocessing import MinMaxScaler

In [ ]:
mm_scaler = MinMaxScaler()

In [ ]:
X = mm_scaler.fit_transform(X)

In [ ]:
X_sub = mm_scaler.transform(X_sub)

In [ ]:
X.shape

(284773, 11)

In [ ]:
X_sub.shape

(122049, 11)

#### Trian and Test split

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state= 40)

In [ ]:
X_test.shape

(85432, 11)

In [ ]:
X_train.shape

(199341, 11)

### Building Modals

In [ ]:
from sklearn.model_selection import KFold, cross_val_score, StratifiedKFold, GridSearchCV
from sklearn.model_selection import RandomizedSearchCV
from sklearn.linear_model import LinearRegression, SGDRegressor
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, AdaBoostRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from xgboost import XGBRegressor
import warnings
warnings.filterwarnings('ignore')

In [ ]:
from sklearn.metrics import mean_squared_error

In [ ]:
rsrfc = RandomizedSearchCV(RandomForestRegressor(), {'max_features': ["auto", "sqrt", "log2"],
                                                      'n_estimators': [50,100,200,300,500,600,800,1000,1200,1500,1600,1800,2000],
                                                      'criterion': ['mse','mae'],
                                                      'max_depth': [2,3,4,5,6,7,8,9,10]},
                           cv=5, return_train_score=False, n_iter=2, scoring="neg_root_mean_squared_error", random_state=40, verbose = 2)
rsrfc.fit(X, y)

Fitting 5 folds for each of 2 candidates, totalling 10 fits
[CV] n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

[CV]  n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse, total=  32.7s
[CV] n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse

[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:   32.7s remaining:    0.0s

[CV]  n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse, total=  32.2s
[CV] n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse
[CV]  n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse, total=  32.6s
[CV] n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse
[CV]  n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse, total=  31.8s
[CV] n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse
[CV]  n_estimators=100, max_features=sqrt, max_depth=10, criterion=mse, total=  31.5s
[CV] n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse
[CV]  n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse, total= 7.1min
[CV] n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse
[CV]  n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse, total= 7.1min
[CV] n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse
[CV]  n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse, total= 7.1min
[CV] n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse
[CV]  n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse, total= 7.0min
[CV] n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse
[CV]  n_estimators=1800, max_features=sqrt, max_depth=7, criterion=mse, total= 7.0min

[Parallel(n_jobs=1)]: Done  10 out of  10 | elapsed: 38.0min finished

RandomizedSearchCV(cv=5, error_score=nan,
                   estimator=RandomForestRegressor(bootstrap=True,
                                                   ccp_alpha=0.0,
                                                   criterion='mse',
                                                   max_depth=None,
                                                   max_features='auto',
                                                   max_leaf_nodes=None,
                                                   max_samples=None,
                                                   min_impurity_decrease=0.0,
                                                   min_impurity_split=None,
                                                   min_samples_leaf=1,
                                                   min_samples_split=2,
                                                   min_weight_fraction_leaf=0.0,
                                                   n_estimators=100,
                                                   n_jobs=None, oob_score=Fals...
                   iid='deprecated', n_iter=2, n_jobs=None,
                   param_distributions={'criterion': ['mse', 'mae'],
                                        'max_depth': [2, 3, 4, 5, 6, 7, 8, 9,
                                                      10],
                                        'max_features': ['auto', 'sqrt',
                                                         'log2'],
                                        'n_estimators': [50, 100, 200, 300, 500,
                                                         600, 800, 1000, 1200,
                                                         1500, 1600, 1800,
                                                         2000]},
                   pre_dispatch='2*n_jobs', random_state=40, refit=True,
                   return_train_score=False,
                   scoring='neg_root_mean_squared_error', verbose=2)

In [ ]:

strfc=pd.DataFrame(rsrfc.cv_results_)[['params','mean_test_score']]
strfc["Model"]=strfc["params"].map (lambda x:"RandomforestRegressor")
strfc

                                              params  ...                  Model
0  {'n_estimators': 100, 'max_features': 'sqrt', ...  ...  RandomforestRegressor
1  {'n_estimators': 1800, 'max_features': 'sqrt',...  ...  RandomforestRegressor

[2 rows x 3 columns]

In [ ]:
rsrfc.best_estimator_

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
rsrfc.best_score_

-16.798699666798946

In [ ]:
clf_rfc = RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
clf_rfc.fit(X, y)

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=10, max_features='sqrt', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [ ]:
sub_pred = clf_rfc.predict(X_sub)

In [ ]:
Submission1 = pd.DataFrame()
Submission1["UnitPrice"] = sub_pred
Submission1.to_csv("Random_Submission_Randomsearch_Scaled.csv", index = False)